# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.rpt2_cache
out-tsc
build/
/deploy/
dist/
dist-app/
tmp/
old/
docs/api/
docs/html/
documentation/
**/cordova/app
**/electron/www

# dependencies
node_modules/

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# IDE - VSCode
.vscode

# misc
.sass-cache
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/

# System Files
.DS_Store
Thumbs.db
package-lock.json
.angulardoc.json
